button{
    border: none;
}

a.apply-gift {
    width: 235px;
    height: 55px;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 16px 48px 16px 48px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

a.return{
    width: 235px;
    height: 55px;
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 16px 48px 16px 48px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    border-color: black;
    border-style: solid;
}

a.return:hover, a.apply-gift:hover{
    width: 235px;
    height: 55px;
    background-color: #FBC955;
    color: white;
    border-radius: 4px;
    padding: 16px 48px 16px 48px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.gift-card {
    display: flex;
    gap: 10px;
}

.return-cont {
    margin: 45px;
}

.giftcard-entry {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-around;
    align-items: center;
}


input#gift-card {
    border-radius: 4px;
    border: 1px;
    height: 55px;
    border-color: black;
    border-style: solid;
    flex: 1;
    width: 245px;
}


.cart-total {
    border: 1.5px solid #000000;
    bottom: 300px;
    left: 1090px;
    right: 725px;
    top: 390px;
    height: 200px;
    padding: 25px;
}

.cart-items {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 5px;
}

select#quantity {
    width: 30%;
    border-radius: 8px;
    height: 40px;
    border: 1px solid #E4E7EE;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
}
