.content{
    font-family: 'Poppins', 'sans-serif';
    padding-top: 10px;
}

.pagetitle, .form-header, .basetext, .title, .signup, .section{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.basetext{
    margin-bottom: 15px;
}


.button{
    background-color: black;
    color: white;
    height: 40px;
    width: 150px;
    margin:10px;
}

.link{
    text-decoration: underline;
}

input, select {
    border: none;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    border-bottom: 2px solid #000;
}

button#create-account {
    width: 60%;
    background-color: black;
    color: white;
    font-family: 'Poppins';
    font-size: 16px;
    height: 55px;
    margin: 25px;
}

button#create-account:hover{
    background-color: #FBC955;
    cursor: pointer;
    border: none;
}

.sign-up-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.waivers {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

ul.lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.waiver-links {
    background-color: white;
    text-decoration: underline;
}

.waiver-links:hover {
    color: #FBC955;
}