.homepage{
    display: flex;
    flex-direction: column;
    margin: 75px;
}

.homepage-slider {
    background-color: #AFAFAF;
    width: 100%;
    border-radius: 20px;
    min-width: 320px;
    max-width: 1229px;
    /* margin-left: auto;
    margin-right: auto; */
    max-height: 380px;
    min-height: 320px;
}

.categories{
    display: flex;
}


.cateogry {
    background-color: #D9D9D9;
    width: 136px;
    height: 200px;
    border-radius: 10px;
    margin: 20px;
}

.popular-container{
    display: flex;
    justify-content: space-around;
}

.popular{
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 230px;
    height: 390px;
    margin: 20px;
}

.brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.brand{
    background-color: #D9D9D9;
    border-radius: 10px;
    margin: 20px;
    width: 188px;
    height: 100px;
}

.button-center {
    display: flex;
    justify-content: space-around;
    margin: 12px;
}

button{
    border: none;
}

a.home-button {
    width: 235px;
    height: 55px;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 16px 48px 16px 48px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

a.home-button:hover{
    width: 235px;
    height: 55px;
    background-color: #FBC955;
    color: white;
    border-radius: 4px;
    padding: 16px 48px 16px 48px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
