.giftcard-cont {
    display: flex;
    height: 1300px;
}

.left-account {
    flex: 30%;
    margin: 25px;
}

.right-account {
    flex: 70%;
    margin: 25px;
}

.redeem-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: white;
    padding: 12px;
    border-radius: 4px;
    p{
        background-color: white;
    }
}
form.redeem-giftcard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: white;
}

button#card-redeem-button {
    width: 235px;
    height: 35px;
    background-color: #FBC955;
    color: white;
    border-radius: 4px;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}

input#card-redeem {
    width: 50%;
    border: none;
    border-radius: 3px;
}

.gift-card-ranks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 35px;
    gap: 15px;
}

.rank {
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    border-radius: 4px;
    background-color: white;
    p{
        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }
    h3{
        text-align: center;
    }

    p, h3{
        background-color: white;
    }
}

button#gift-redeem-button-25, button#gift-redeem-button-35,
button#gift-redeem-button-50, button#gift-redeem-button-100 {
    background-color: #2E3192;
    cursor: pointer;
    color: white;
    width: 35%;
    height: 55px;
    padding: 10px 28px 10px 28px;
    border-radius: 4px;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

button#gift-redeem-button-25:hover, button#gift-redeem-button-35:hover,
button#gift-redeem-button-50:hover, button#gift-redeem-button-100:hover{
    background-color: #FBC955;
}

.discalimer {
    margin-top: 20px;
}

