.conditions-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conditions {
    display: flex;
    flex: 0.5;
}

.inventory-cont {
    display: flex;
    justify-content: space-evenly;
}

.inventory-cond {
    padding: 12px;
    width: 110px;
    border-radius: 10px;
    background-color: black;
    color: white;
    height: 28px;
    margin: 8px;
    font-family: 'Poppins' , 'sans-serif';
    text-align: center;
}

.conditions-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inven-cont {
    display: flex;
    justify-content: space-around;
}

.inven-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.inventory-item {
    padding: 12px;
}


.inventory-image {
    border: 1px solid #2222224A;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: max-content;
    padding-top: 25px;
    padding-bottom: 25px;
}

.item-aval {
    display: flex;
    justify-content: space-around;
    gap: 12px;
}
.product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stock-green {
    color: yellowgreen !important;
}

.stock-red {
    color: red;
}

.stock-yellow {
    color:orange;
}

.stock-gray {
    color: gray;
}

.popular-logo {
    width: 230px;
    height: 390px;
    border-radius: 10px;
    background-color: #D9D9D9;
    margin: 15px;
}

select#filter-sort {
    width: 100%;
    border-radius: 8px;
    height: 40px;
    border: 1px solid #E4E7EE;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
}

form.inventory-filters.white {
    padding: 15px;
    border-radius: 10px;
}

.results {
    display: flex;
    flex-direction: column;
}