.content{
    font-family: 'Poppins', 'sans-serif';
    display: flex;
    justify-content: center;
    padding-top: 10px;
    /*background-color: blue;*/
}

.loginbox{
    text-align: center;
    display:flexbox;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    /*background-color: aqua;*/
}

.input{
    margin-bottom: 10px;
    max-width: 75%;
}

.button{
    background-color: black;
    color: white;
    height: 40px;
    width: 150px;
}

.link{
    text-decoration: underline;
}