.left-admin {
    flex: 30%;
    margin: 25px;
}

.right-admin {
    flex: 70%;
    margin: 25px;
    font-family: 'Poppins';
}

.top_right_side_all_content, .bottom_right_side_all_content {
    display: flex;
}
.accountInfo, .membershipInfo, .primaryInfo, .secondaryInfo {
    flex: 50%;
    margin: 25px;
}

label {
    margin-bottom: 5px;
}

input.checkbox {
    margin-bottom: 10px;
    width: auto;
    height: auto;
}

input {
    margin-bottom: 10px;
    width: 100%;
    height: 30px;  
    font-family: 'Poppins';
}