.content{
    font-family: 'Poppins', 'sans-serif';
    padding-top: 10px;
}

.pagetitle, .form-header, .basetext, .title, .signup, .section{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#first-name, #last-name, #name-title, #organization, #email, #phone-number, 
#birth-day, #username, #password, #re-password,
#address-first, #address-second, #address-city,
#address-country, #address-state, #address-zipcode{
    margin:10px;
    width: 400px;
    height: 50px;
    max-width: 100%;
}

.button{
    background-color: black;
    color: white;
    height: 40px;
    width: 150px;
    margin:10px;
}

.link{
    text-decoration: underline;
}