.content{
    font-family: 'Poppins', 'sans-serif';
    padding-top: 10px;
    /*background-color: blue;*/
}

h1, p, .title, .signup, .section{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /*background-color: aqua;*/
}

.input, .select{
    margin:10px;
    width: 400px;
    height: 50px;
    max-width: 100%;
}

.button{
    background-color: black;
    color: white;
    height: 40px;
    width: 150px;
    margin:10px;
}

.link{
    text-decoration: underline;
}