.topRowButtons {
    display: flex;
}

.topRowButton {
    height: 50px;
    width: 25%;
    border-radius: 8px;
    border-width: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.topRowButton svg {
  margin-right: 8px;
}

.topRowButton:hover {
  text-decoration: underline;
}

.topRowStats {
    display: flex;
}

.container {
  width: 25%;
  margin-bottom: 25px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
  display: flex;
  box-shadow: 6px 6px 54px 0px #0000000D;
  border-radius: 5px;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.statsTitle {
    margin: 10px;
    font-family: 'Poppins';
    font-size: 16px;
    white-space: nowrap;
    background-color: white;
}

.stat {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    background-color: white;
}

.mainContent {
    background-color: white;
    padding: 10px;
}

.topRow {
    background-color: lightgray;
}

.checkInButton {
    height: 30px;
    width: 70px;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: green;
    color: white;
}

.detailsButton {
    height: 30px;
    width: 70px;
    border-radius: 8px;
    background-color: blue;
    color: white;
}

.admin-container{
    display: flex;
}

.left-admin {
    flex: 15%;
    margin-left: 20px;
    margin-right: 20px;
}

.right-admin {
    flex: 85%;
    font-family: 'Poppins';
}

.accountInfo {
    margin: 25px;
}

.filterOptionsContainer {
    display: flex;
}

.filterOptions {
    margin-right: 40px;
    border-radius: 8px;
    border-width: 1px;
    font-family: 'Poppins';
}

a.editButton {
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: #77B8E4;
    color: white;
}


a.loansButton {
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: #0028B6;
    color: white;
}

a.checkoutButton {
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: #8B1AA7;
    color: white;
}

a.checkinButton {
  margin-bottom: 5px;
  border-radius: 8px;
  background-color: #069612;
  color: white;
}

label {
    margin-bottom: 5px;
}

input.checkbox {
    margin-bottom: 10px;
    width: auto;
    height: auto;
}

input {
    margin-bottom: 10px;
    width: 100%;
    height: 30px;  
    font-family: 'Poppins';
}

.side-list{
    display: flex;
    flex-direction: column;
  }

  .side-list_content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .side-list_content svg {
    margin-right: 8px;
  }  

  .side-list_content:hover {
    text-decoration: underline;
  }

  .click-dropdown {
    display: flex;
    flex-direction: column;
  }

  .click-dropdown svg {
    margin-right: 8px;
  }
  
  .click-dropdown .admin-sidebar-button {
    border: none;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .click-dropdown .admin-sidebar-button:hover {
    text-decoration: underline;
  }
  
  .click-dropdown .dropdown-menu {
    display: flex;
    flex-direction: column;
    padding: 12px;
  }

  .dropdown-menu {
    margin-left: 10px;
  }
  
  .click-dropdown .dropdown-menu a {
    margin-bottom: 10px;
    text-decoration: none;
    color: inherit;
  }
  
  .click-dropdown .dropdown-menu a:hover {
    text-decoration: underline;
  }
  
  
  .admin-container{
    display: flex;
  }
  
  .new-item-container{
    display: flex;
    flex-direction: row;
  
  }
  
  .new-item-left{
    display: flex;
    flex-direction: column;
  }
  
  .item-info {
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 12px;
  }
  
  a.editButton {
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: #77B8E4;
    color: white;
  }

  a.editButton svg {
    margin-right: 5px;
  }
  
  a.loansButton {
    margin-bottom: 5px;
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #0028B6;
    color: white;
  }
  
  a.loansButton svg {
    margin-right: 5px;
  }

  a.checkoutButton {
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #8B1AA7;
    color: white;
  }

  a.checkoutButton svg {
    margin-right: 5px;
  }

  a.checkinButton {
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #069612;
    color: white;
  }

  a.checkinButton svg {
    margin-right: 5px;
  }
  
  .checkout-container {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .checkout-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }
  
  a.link-button {
    padding: 12px;
    border-radius: 4px;
    background-color: #FBC955;
  }
  
  .dropdown-menu {
    display: flex;
    flex-direction: column;
    padding: 12px;
  }
  
  button.admin-sidebar-button {
    border: none;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  
  .icon-container{
    background-color: white;
  }

.createNewItemButton {
    height: 60px;
    width: 120px;
    margin: 15px;
    color: white;
    background-color: black;
    font-family: 'Poppins';
    font-size: 20px;
}

.createNewUserButton {
    width: 30%;
    background-color: black;
    color: white;
    font-family: 'Poppins';
    font-size: 16px;
    height: 55px;
    margin: 15px;
}

.createNewUserButton:hover {
  background-color: #FBC955;
  cursor: pointer;
}

.new-user-cont {
  display: flex;
}

.new-user-left, .new-user-right {
  width: 50%;
  margin: 25px;
}

.create-button-cont {
  display: flex;
  justify-content: center;
}

.long-section{
  display: flex;
    flex-direction: column;
    gap: 12px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    border-bottom: 1px solid #E4E7EE;
    margin-bottom: 12px;
}

.section-status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button#delete-item{
  background-color: red;
}

.actions-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action {
  padding: 2px;
}

.customer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.membershipInfo, .accountInfo, .secondary-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

p.section-title-small {
  text-align: center;
}

.edit-columns {
  display: flex;
}

.current {
  padding: 12px;
}
