.popular-container{
    display: flex;
    justify-content: space-around;
}

.popular {
    padding: 12px;
    border: 1px solid #2222224A;
}
.popular-info {
    justify-content: space-evenly;
    margin: 5%;
}

.button-center {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    margin: 12px;
}

button{
    border: none;
}

.img-cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: max-content;
    padding-top: 15px;
    padding-bottom: 15px;
}

p.light-paragraph{
    color: #8A8A8A;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  p.product-title{
    color: black;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  p.stock-green{
    color: #3FBC1F;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  p.stock-red{
    color: red;
  }