.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    white-space: nowrap;
    background-color: #ebebeb;
    z-index: 100;
    transition: top 0.3s ease;
    visibility: visible;
}

.fixed {
    position: absolute;
  }

.navbar-section{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #ebebeb;
}

.navbar-searchInput {
    height: 40px !important;
    border: 1px solid black !important;
}

.navbar-search {
    background-color: #ebebeb;
}

.navbar-searchIcon {
    height: 40px;
    width: 40px;
}

.big-header {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color: #ebebeb;
}

.small-header {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color: #ebebeb;
}

.small-header:hover {
    background-color: black;
    color: white;
}

.login-button {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color: #ebebeb;
}

.login-button:hover {
    background-color: black;
    color: white;
}

.account{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    background-color: white;

    p{
        background-color: white;
    }
    a{
        background-color: white;
    }
}

.account-hover:hover .dropdown-content{
    display: block;
}

.account-hover{
    background-color: white;
}

.giftcard-inventory {
    display: flex;
    gap: 30px;
    margin: 12px;
    background-color: white;

    p{
        background-color: white;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 275px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
    right: 0; /* Align the dropdown content to the right */
    white-space: nowrap; /* Prevent line breaks within the dropdown menu */
}

.dropdown-content a {
    display: flex;
    padding-left: 15px;
    background-color: white;
    white-space: nowrap; /* Prevent line breaks within the dropdown links */
}

.dropdown-content a:hover {
    text-decoration: underline;
}


.category-hover:hover .category-dropdown{
    display: block;
}

.logout{
    text-align: center;
}

button#logout{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(215, 0, 0);
    color: white;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 1000;
    line-height: 24px;
    letter-spacing: 0.01em;
    cursor: pointer;
}

button#logout:hover {
    text-decoration: underline;
}




body {
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  @media screen and (max-width: 450px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        white-space: nowrap;
        background-color: #ebebeb;
        z-index: 100;
        transition: top 0.3s ease;
        visibility: hidden;
    }

    .big-header {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: center;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        background-color: #ebebeb;
    }
  }